.header,
.footer {
  background-color: rgba(0, 0, 0, 0.652);
  padding: 10px 24px;
  position: absolute;
  left: 0;
  width: 100%;
}

.header {
  border-bottom: solid #fff 4px;
  padding-bottom: 4px;
  top: 0;
}

.footer {
  border-top: solid #fff 4px;
  padding-top: 4px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>h2,
.footer>h2 {
  color: #fffefb;
  font-weight: normal;
}

.footer .version {
  color: #b1aeb3;
  font-size: 20px;
}